<div style="display: flex; align-items: baseline;">
  <h2>Returned values:</h2>
  <p style="margin: 0 0 0 15px;">{{numbers$ | async}}</p>
</div>

<div style="display: flex; align-items: baseline; padding: 10px;">
  <button class="button" (click)="onMapClick()">map</button>
  <p style="margin: 0 0 0 15px;">squared value: {{mapObs$ | async }}</p>
</div>

<div style="display: flex; align-items: baseline; padding: 10px;">
  <button class="button" (click)="onMergeMapClick()">Merge map</button>
  <p style="margin: 0 0 0 15px;">value plus one: {{mergeMapObs$ | async }}</p>
</div>

<div style="display: flex; align-items: baseline; padding: 10px;">
  <button class="button" (click)="onFilterClick()">Filter</button>
  <p style="margin: 0 0 0 15px;">Filter less than three: {{filterObs$ | async }}</p>
</div>
